.user-panel 
	width 100%
	height 15%
	
.user-panel-list
	list-style-type none
	height 100%
	text-align center

.user-panel-list__item
	width 115px
	display inline-block
	background-color #5887A2
	background-image url('../img/baloon.png')
	background-repeat no-repeat
	background-position 50% 50%
	height 100%
	
	
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	transition: background 0.5s ease;

.user-panel-list__item:hover
	cursor pointer

.user-panel-list__item_active
	background-color #43728D


@media screen and (min-width:320px) and (max-width:480px)
	//.user-panel-list__item
	//	background-image url('../img/baloon16.png')
	//	background-repeat no-repeat
	//	background-position 50% 50%
