.user-panel 
	width 100%
	height 15%
	
.user-panel-list
	list-style-type none
	height 100%
	text-align center

.user-panel-list__item
	width 115px
	display inline-block
	background-color #5887A2
	height 100%
	
	
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	transition: background 0.5s ease;

.user-panel-list__item:hover
	cursor pointer

.user-panel-list__item_active
	background-color #6291AC