.user-panel(data-ng-show="mapInit")
	ul.user-panel-list
		li.user-panel-list__item {{mapInit}}
		li.user-panel-list__item {{mapInit}}
		li.user-panel-list__item {{mapInit}}
		li.user-panel-list__item {{mapInit}}
div(data-ys-preloader="" data-flag="mapInit")
